@page
@model LinkShortener.Pages.Panel

@{
    Layout = "_Layout";
    ViewBag.Title = "Short links here";
    var links = Model._userService.GetUserLinks(Model._user);
}


<form method="post" class="m-auto mt-sm-5 mt-3" style="max-width: 600px;">
    <div class="">
        <label for="link" class="d-block text-center fs-4">Сокращатель ссылок</label>
        <input type="text" name="link" id="link" class="my-2 form-control" required />
    </div>
    <div class="">
        <input type="submit" value="Сократить" class="btn d-block btn-primary mb-4 m-auto" />
    </div>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<table class="table table-info table-stripped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Source link</th>
        <th scope="col">Short code</th>
        <th scope="col">Date</th>
        <th scope="col">Counter</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < links.Length; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@links[i].SourceLink</td>
                <td>/@links[i].ShortCode</td>
                <td>@links[i].Created.ToUniversalTime().AddHours(5)</td>
                <td>@links[i].Counter</td>
            </tr>
        }
    </tbody>
</table>

